{% extends 'base.html' %}

{% block title %}新規登録{% endblock %}

{% block content %}

{% if user.is_authenticated %}
  <h2>既にログイン済みです。</h2>
  <br><br><br>
  <h4>ログイン中のアカウント ：  {{ user.username }}</h4>
  <br>
  {{ user.username }} さんの残り投票可能数（本日分）：{{ user.votingpoint }}
  <br><br>
  <br>
  <p><a href="{% url 'index' %}">トップページへ</a></p>
  <br>
  <p><a href="{% url 'logout' %}">ログアウト</a></p>
{% else %}
  <h2>新規登録</h2>
  <br>
  ユーザー登録すると、投票（合計10回/日）、投稿、自分が投稿した情報の編集・削除などができるようになります。
  <br><br>
  <hr>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign Up</button>
  </form>
  <hr>
  <br>
  <a href="{% url 'login' %}">ログインページに戻る</a>
{% endif %}

{% endblock %}