{% extends 'base.html' %}


{% block title %}
  Search Result
{% endblock %}


{% block content %}
<h1>Search Result for "{{ searchword }}"</h1>
<br>
<h4>found : {{ keywords.count }}</h4>
{% if keywords %}
<table class="table table-hover table-striped">
  <tr class="d-flex table-default">
    <td class="col-6">キーワード</td>
    <td class="col-3 text-center">UUID</td>
    <td class="col-1 text-center">評価値</td>
    <td class="col-2 text-center">評価する</td>
  </tr>
  {% for keyword in keywords %}
    <tr class="d-flex table-default">
      <td class="col-6"><a href="{% url 'detail' keyword_id=keyword.id %}">{{ keyword.text }}</a></td>
      <td class="col-3 text-center">{{ keyword.id }}</td>
      <td class="col-1 text-center">{{ keyword.votes }}</td>
      <td class="col-1 text-center"><a class="btn btn-outline-primary" role="button" href="{% url 'index' %}"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a></td>
      <td class="col-1 text-center"><a class="btn btn-outline-danger" role="button" href="{% url 'index' %}"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a></td>
    </tr>
  {% endfor %}
</table>
{% endif %}

{% endblock %}